.app-container {
  min-height: 100vh;
  padding-bottom: 100px;
  /* Space for fixed cart action */
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  font-weight: 800;
  color: var(--primary-color);
  letter-spacing: -0.5px;
}